.header-wrapper,
.footer-wrapper {
	display: none;
}
/*
.cart .single_add_to_cart_button.button.alt {
	width: 100% !important;
}*/


.product-lightbox .product-info .price {
    font-size: 35px !important;
	    margin: .5em 0;
}

.product-lightbox  .price-wrapper .price {
    display: inline-block;
}

 
.checkout-p-image img {
	height: 30px;
	width: auto;
}
.page-template-page-checkout a.button-social-login {
	width: 96px;
}
button#place_order {
	background: #9E3333 !important;
	margin: 0 auto;
	display: block;
	padding: .5em 2em;
	width: 100%;
}
.logos {
	text-align: center;
	display: block;
	background: black;
}
.logos img {
	height: 75px;
}
.c-goback h2 a {
	color: #B7995B;
}
.c-goback {
	color: #b7995b !important;
	float: left;
	padding: 15px;
	text-align: left;
	position: absolute;
}
.c-cart-logo {} .c-cart-footer {
	background: #000;
	height: 40px;
	padding: 10px;
	text-align: center;
	display: block;
}
input#place_order {
	width: 100%;
}
a.button-social-login {
	width: 220px;
}
.button-social-login .si,
a.button-social-login .si,
input.button-social-login .si,
button.button-social-login .si,
.widget-area .widget a.button-social-login .si {
	display: inline-block !important;
}
.sfn-cart-addons .col, .gallery-item, .columns {
    width: 25%;
    float: left;
}
.sfn-cart-addons .grid-style-3 .price del {
    display: inline-block;
}
.sfn-cart-addons .grid-style-3 .price-wrapper
{text-align:center;}
.sfn-cart-addons .price-wrapper .price {
    display: inline-block;
}
.hidemed {
    display: none;
}


@media only screen and (max-width: 767px){
body.woocommerce-cart .sfn-cart-addons .col, body.woocommerce-cart .gallery-item, .columns {
    width: 100%;
}
}

@media (max-width: 500px) {
	.c-goback {
		padding: 28px 0 0 5px;
		position: relative;
	}
	.ship_notice_above150,
	.ship_notice_above70,
	.ship_notice_less70 {
		padding: 6px;
		height: 45px;
	}
	.logos {
		padding-right: 5px;
		text-align: right;
	}
}
@media only screen and (max-width: 767px) {
body.woocommerce-cart .hidemed, body.woocommerce-checkout .hidemed {
    display: none!important;
}
form.woocommerce-cart-form {
    margin-bottom: 0;
}
}
@media (max-width: 549px) {
.shop_table .product-price {
     display: block !important; 
}
}
@media only screen and (max-width: 767px) {
body.woocommerce-cart .shop_table_responsive .continue-shopping {
    display: none;
}
}
.cart-container .cart-sidebar{display:block !important;}
.r span{width:51px!important;}
.r label{padding-left:55px!important;}
.r,.product-small .woocommerce-variation-add-to-cart {
  text-align:center;
  }
 .r label:nth-child(1)
      {
          display: none;
      }
 .r label {
    display: inline-block;
    position: relative;
    padding-left: 76px;
    margin-bottom: 25px;
margin-top:0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
         
}      
     .r label p {
     font-size:14px;
	     font-weight: normal;
     } 
 .r label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  display:none;

}

 .r span{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 75px;
    background-color: #eee;
   
    font-size: 16px;
    color:#111;
    
 
}
        
 .r label:hover input ~ span{
color:#BB9D5C;
  font-weight:900!important;
  border:2px solid #BB9D5C;
}

 .r span
      {
         display: table;
          
      }
 .r span p {margin: auto;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
      
        }

 .r label input:checked ~ span{
    filter:opacity(100%)!important;
     transition: .2s linear;
    border:0px solid #fff;
    
        /*   box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
   color:#fff;
        background-color: #BB9D5C;
    
}
.r label input:checked ~ span p {
    color: #fff;
}

 .r span:after {
    content: "";
    position: absolute;
    display: none;

}


 .r label input:checked ~ .checkmark:after {
    display: block;
    
}


 .r label span:after {
 	top:10px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 10%;
	
    display: none;
}


body.woocommerce-cart .checkout-button {
    background: #9E3333 !important
	
	 
}


@media (min-width: 850px) {
  .product-lightbox .mfp-content,
  .stuck,
  button.mfp-close {
    top: 0 !important;
  }
}
.ywgc-show-giftcard {
  margin-left: 15px !important;
  margin-right: 0 !important;
}

.ywgc_have_code {
  display: none;
}

.ywgc_enter_code .form-row {
  padding: 0 !important;
}

.ywgc_enter_code {
  margin: 0.5em 0 !important;
  border: 2px dashed;
  border-color: #020000;
}

button.button.ywgc_apply_gift_card_button {
  margin-top: 0.5em;
}

input#giftcard_code {
  height: 2.507em;
}

a.showcoupon,
a.ywgc-show-giftcard {
  background-color: #000;
  color: #fff;
  padding: 5px 12px;
  border-radius: 6px;
  font-weight: 600 !important;
  font-size: 16px;
}

a.showcoupon:hover,
a.ywgc-show-giftcard:hover {
background-color: #c3b7b7!important;
color: #000!important;
}


.woocommerce-form-coupon-toggle {
  padding: 12px 0;
}

.woocommerce-form-coupon-toggle .message-container {
  text-align: center;
}




@media screen and (max-width: 767px){
body.woocommerce-cart .checkout-button {
    background: #81d742!important;
	    width: 100%;
}
button.button.primary.mt-0.pull-left.small.update_cart {
    width: 100%;
}

}

@media screen and (min-width: 1058px) and (max-width: 1071px){

.r span {
    width: 42px!important;
}
.r label {
    padding-left: 47px!important;
}	


}
@media screen and (min-width: 1036px) and (max-width: 1057px){

 .r span {
    width: 42px!important;
}
.r label {
    padding-left: 45px!important;
}	


}
@media screen and (min-width: 850px) and (max-width: 1035px){

.r span {
    width: 40px!important;
}
.r label {
    padding-left: 44px!important;
}	


}
@media screen and (min-width: 382px) and (max-width: 500px)
{
.r span {
    width: 38px!important;
}
.r label {
    padding-left: 44px!important;
}}	
@media screen and (max-width: 381px)
{
.r span {
    width: 37px!important;
}
.r label {
    padding-left: 42px!important;
}	
}
@media screen and (max-width: 365px) {

.r span {
    width: 32px!important;
}
.r label {
    padding-left: 35px!important;
}	
}
.r {
    min-height: 58px !important;
    display: block;
    position: relative;
    margin: 15px 0;
}
