
#picker_pa_size .select-option a.swatch-anchor {
    text-indent: initial!important;
    padding: 8px 0 0px 0px;
    font-size: 14px;
    width: 47px!important;
    font-weight: 600!important;
    color: black!important;
    text-align: center;
}
/*
#picker_pa_size .select-option a.swatch-anchor{

	width: 36px!important;background-color: #ffffff00;}
	*/
.bundled_product .cart .variations td.label {
    padding: 1em 0 0;
   /* display: none;*/
}

h4.bundled_product_title.product_title {
    margin: 0;
    padding: 0;
}
.bundle_form table.variations, .single-product div.product .bundle_form table.variations {
    margin: 0px;
    margin-top: -26px;
}

span.bundled_product_title_inner {
    display: none;
}
#picker_pa_colour .swatch-wrapper a {
    display: block;
    border-radius: 100%;
	box-shadow: 1px 0px 4px black;
    border: 4px solid white;
}

#picker_pa_colour .swatch-wrapper{
border:none;
}



.swatch-wrapper {
    float: none;
    display: inline-block;
}
.ship_notice{font-size:15px;}
.cart-collaterals{width:99%;}
body.single #size_guide{
	display:none;
}
/*
.fancybox-skin{margin:35%;}
*/
div.swatch-wrapper.disabled, div.swatch-wrapper.disabled a, .radio-select .disabled {display: none!important;}

.product-info {box-shadow: none;}

.single_variation_wrap {margin-top: 25px;}

.variations td {vertical-align: middle;padding: 8px;border: 0;}

.swatch-wrapper {margin: 0 12px 5px 0;}

 .is-divider {height: 1px;margin: 0;}

.product-footer {margin-top: 3.5em;}

.product-gallery.large-6 {margin-right: 30px;}

div.bundled_product_summary:not(.thumbnail_hidden) .details {padding: 0;}


.product-short-description {min-height: 25px;}

div.bundled_product_summary, .woocommerce div.product.bundled_product_summary {padding-bottom: 1.118em;margin-bottom: 1.118em; border-bottom: 1px solid rgba(0, 0, 0, 0.06);} 
.product-short-description {
    clear: both;
	margin-top: 0px;
	text-align:left;
}
 .bundled_product .cart .variations td.label{display:block;}
 .bundled_product .cart .variations td.label{float: none;width: auto;}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    margin-top: 52px!important;
}
.swatch-wrapper{border-radius:100%;overflow:hidden;}
#picker_pa_size .select-option a.swatch-anchor{

	width: 36px!important;
	background-color: #ffffff00;}
	
	
	#picker_pa_colour, #picker_pa_size{
			display:inline-block;
	}
.variations td.label{text-transform: uppercase;}


.product-images.relative.mb-half.has-hover.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{overflow:hidden;}
.swatch-control div.swatch-wrapper.selected a{box-shadow:0px 0px 0px 2px #000!important;}
#picker_pa_colour .swatch-wrapper a{box-shadow: 0px 0px 2px black!important;}
a.swatch-anchor {width: 38px!important; height: 38px!important;}
#picker_pa_colour .swatch-wrapper a{border: 6px solid white!important;}
div.swatch-wrapper.selected{border:1px solid #5e5e5e!important;border-radius:100%;}
#picker_pa_colour .swatch-wrapper{border:none;}

a#various2{
	display: inline-block;
}

@media only screen and (max-width: 767px){
	.cart .single_add_to_cart_button.button.alt {
    margin-top: 1px;
}
.product-summary .quantity {
    margin-bottom: 0;
}
.product-short-description p {
    margin-top: 0px !important;
    padding-left: 20px;
}
	.product-title{text-align:center;}
 
	.bundled_product_summary .details, .bundled_product_summary div.bundled_product_images {
    width: 100% !important;
}
div.bundled_product_summary:not(.thumbnail_hidden) .details{padding:0!important;}

 .bundled_product_summary .bundled_product_images img, .single_variation_wrap{margin-top:0!important;}   
.variations td.label {
    display: block;
    text-align: center;
	    border-top: 1px dotted #eee;
    margin-top: -15px;
}
.variations td.value {
    display: block;
    text-align: center;
    padding: 0;
}
.quantity
{
  margin-right: 1em!important;
}


 /*
.fancybox-skin {
    margin: 2%;
}
*/
a#various2 span {
  float:right;
    text-decoration: underline;
}
a#various2{
	position: absolute;
    margin-left: 15px;
}
.trustspot-inline-product{
	text-align:center;	
}
.cprice{
	padding:0 12px;
}
.afterpay-payment-info{
     text-align: center;
    margin: 0 auto;
	    
}
.price-wrapper .price {

    text-align: center;
	font-size:35px !important;
	margin:0;
	
}
 .fancybox-item.fancybox-close {
    top: -8px !important
 }
 
 }
.product-main {
    padding-top: 10px;
}
 
}